
body{
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    margin: 0;
}


h1{
    text-decoration-color: #1F3864;
    align-items: center;
    font-size: 2rem;
    border-bottom: 3px solid #1F3864;
}


form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}  


input, select{
    width: 95%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

@media (max-width: 600px) {
    form {
        max-width: 100%;
    }
    body {
        padding: 12px;
    }
}  


/* Additional syles*/

label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-weight: bold;
}

.gender-group,
.language-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
}

.gender-group input[type="radio"],
.language-group input[type="checkbox"] {
    width: auto;
    margin: 0 4px 0 0;
    margin-right: 5px;
    margin-left: 20px;
}
